body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  width: 500px;
}

.chatroom {
  height: 300px;
  overflow: scroll;
  border: 1px solid black;
}
