extends layout


block content
  div(class='container')
    h1= title
    p Welcome to #{title}
  div(class='chatroom')
    div(class='picture')
  form(id='chat')
    textarea(id='chat-box', rows='2')
    p
      input(type='submit' value='send')
  div(class='card')
    button(class='start').
      Get Card
    button(class='ready').
      Ready
    div(class='card-show')
